/* HERO SECTION */
.hero {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-30);
  justify-content: space-between;
  margin-block: var(--spacing-50);
  margin-inline: auto;
  max-width: var(--max-width);
  flex-direction: column-reverse;
}

.hero__info {
  gap: var(--spacing-40);
  display: grid;
  color: var(--black-100);

  & .hero__info--title {
    font-size: var(--size-70);
    text-wrap: balance;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--black-100);

    & span {
      color: var(--blue-100);
    }
  }
  & .hero__info--description {
    font-size: var(--size-30);
    line-height: 1.3;
    text-wrap: balance;
    font-weight: 400;
  }
  & .hero__info--social {
    font-size: var(--size-20);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-10);

    & a {
      display: flex;
      align-items: center;
      gap: var(--size-10);
      padding: 3px;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.hero__image {
  height: 180px;
  box-shadow: 0 0px 11px var(--black-100);
  background: var(--blue-100);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  overflow: hidden;

  & img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
  }
}

/* ABOUT ME SECTION */

.about {
  background: var(--blue-10);
  width: 100%;
}
.about-container {
  padding-block: var(--spacing-30);
  max-width: var(--max-width);
  margin-inline: auto;

  & .about-container__info {
    color: var(--black-100);
    max-width: 751px;
    display: grid;
    gap: var(--spacing-20);

    & .about-container__info--title {
      text-align: start;
    }

    & .about-container__info--description {
      font-size: var(--size-20);
      letter-spacing: 1px;
      line-height: 1.3;
    }
  }
}

.section-title {
  font-size: var(--size-30);
  color: var(--black-100);
  font-weight: bold;
  text-align: center;
}

/* SKILLS SECTION */
.skills {
  padding-block: var(--spacing-40);

  .skills-container {
    max-width: var(--max-width);
    margin-inline: auto;

    & .skills-container__skills {
      display: grid;
      gap: var(--spacing-20);
      grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
      margin-top: var(--spacing-40);

      & .skills-container__skills--item {
        background: var(--white);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        display: grid;
        height: 100%;
        padding: var(--spacing-20);
        border-radius: var(--size-10);
        gap: var(--spacing-20);
        align-content: center;
        justify-items: center;

        & img {
          height: 70px;
        }
        & p {
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }

  .hero__info {
    & .hero__info--title {
      font-size: var(--size-90);
    }
    & .hero__info--social {
      gap: var(--spacing-20);
    }
  }

  .hero__image {
    height: 260px;
    min-width: 260px;
  }

  .about-container {
    & .about-container__info {
      & .about-container__info--description {
        text-wrap: balance;
      }
    }
  }

  .skills {
    .skills-container {
      & .skills-container__skills {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      }
    }
  }
}

/* FORMACIÓN ACADÉMICA */
.formacion {
  padding-block: var(--spacing-40);
  background: var(--blue-10);

  & .formacion-container {
    max-width: var(--max-width);
    margin-inline: auto;
  }
}

.formacion-container__items-container {
  margin-top: var(--spacing-40);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  justify-items: center;
  gap: var(--spacing-20);

  & .formacion__item {
    width: 100%;
    display: inherit;
    gap: var(--spacing-10);

    & .formacion__item--image-container {
      background: var(--white);
      display: grid;
      place-items: center;
      height: 155px;

      & img {
        width: 40%;
      }
    }

    & .formacion__item--info {
      display: grid;
      gap: var(--spacing-10);
      color: var(--black-100);

      & h3 {
        font-size: var(--size-20);
        font-weight: bold;
      }

      & p {
        font-size: 14px;

      }
    }
  }
}

.projects {
  padding-block: var(--spacing-40);

  & .projects-container__items-conatiner {
    margin-top: var(--spacing-40);
    display: grid;
    gap: var(--spacing-60);
  }
}

.projects-container {
  max-width: var(--max-width);
  margin-inline: auto;
}

.project__item {
  width: 100%;
  display: flex;
  gap: var(--spacing-20);
  flex-direction: column;

  & .project__item-image {
    width: inherit;
    box-shadow: 0 6px 7px rgb(0 0 0 / .4);
    display: flex;
    border-radius: var(--size-10);
    overflow: hidden;

    & img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }
}
.project__item-info {
  display: grid;
  color: var(--black-100);
  gap: var(--spacing-10);
  & .project__item-info--title {
    font-size: var(--size-20);
    font-weight: bold;

  }
  & .project__item-info--description {
    font-size: 14px;
    line-height: 1.3;
  }

  & .project__item-links {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
    & .project__item-link {
      padding: 14px var(--spacing-20);
      text-wrap: nowrap;
      &:hover {
        opacity: 70%;
      }
    }
    & .project__item-links--primary {
      border: 1px solid var(--blue-100);
      color: var(--blue-100);
    }

    & .project__item-links--secondary {
      background-color: var(--blue-100);
      color: var(--white);
    }
  }
}

/* CONTACT FORM SECTION */

.contact {
  background: var(--blue-10);
  padding-block: var(--size-40);
}

.contact-container {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto;
  gap: var(--spacing-20);
}

.contact-image-container {
  display: none;
  width: 40%;

  & img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.contact-form-container {
  display: grid;
  gap: var(--spacing-30);
  width: 100%;

  & .contact-form--hero {
    display: grid;
    gap: var(--spacing-10);
    & h3 {
      text-align: start;
    }

    & p {
      font-size: var(--size-20);
      color: var(--black-100);
      line-height: 1.3;
    }
  }
}
.contact-form {
  display: grid;
  gap: var(--spacing-30);

  & .contact-form__group {
    position: relative;
    border-radius: 3px;
    background: var(--white);
    height: fit-content;
    display: inline-flex;

    & input {
      background: none;
      color: var(--black-100);
      font-size: var(--size-20);
      padding: 25px 10px 10px 10px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 3px;
      border-bottom: 2px solid rgba(128, 128, 128, 0.603);

      &:focus {
        outline: none;
        border-bottom: 2px solid var(--blue-100);
      }
      &:focus~label,
      &:valid~label {
        top: 8px;
        font-size: 12px;
        color: var(--blue-100);
      }
    }

    & textarea {
      resize: none;
      font-size: var(--size-20);
      color: var(--black-100);
      height: 133px;
      padding: 10px;
      width: 100%;
      outline: none;
      border-radius: 3px;
      border-bottom: 2px solid rgba(128, 128, 128, 0.603);

      &:focus {
        border-bottom: 2px solid var(--blue-100);
      }
    }


    & label {
      color: var(--black-100);
      font-size: var(--size-20);
      position: absolute;
      left: 10px;
      top: calc(50% - 6px);
      transition: 0.3s ease all;
      pointer-events: none;
    }
  }
  & .submit-btn {
    justify-self: start;
    padding: var(--spacing-20);
    background: var(--blue-100);
    color: var(--white);
    font-size: var(--size-20);
    cursor: pointer;

    &:hover {
      opacity: 70%;
    }
  }
}





@media screen and (min-width: 768px) {
  .project__item {
    flex-direction: row;
    align-items: center;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    & .project__item-info {
      width: 50%;
      & .project__item-info--title {
        font-size: var(--size-30);
      }
    }
  }

  .contact-image-container {
    display: block;
  }

  .contact-form-container {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .section-title {
    font-size: var(--size-40);
  }
  .hero__info {
    & .hero__info--title {
      font-size: var(--size-120);
    }
    & .hero__info--description {
      font-size: var(--size-30);
    }
  }

  .hero__image {
    height: 368px;
    min-width: 368px;
  }

  .formacion {
    padding-block: var(--spacing-100);
  }

  .formacion-container__items-container {
    margin-top: var(--spacing-40);
    & .formacion__item {
      & .formacion__item--image-container {
        width: 100%;
        height: 230px;
        & img {
          width: 40%;
        }
      }

      & .formacion__item--info {
        display: grid;
        gap: var(--spacing-10);
        color: var(--black-100);

        & h3 {
          font-size: var(--size-30);
        }

        & p {
          font-size: var(--size-20);
        }
      }
    }
  }

  .project__item-info {
    & .project__item-info--description {
        font-size: var(--size-20);
        line-height: 1.3;
    }
}

  .contact-container {
    padding-top: var(--spacing-100);
  }
  .contact {
    padding-block: var(--spacing-100);
  }
}